/* * {
  margin: 0px;
  padding: 0px;
  transition: 0.2s all linear;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 450px) {
} */
